.service {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px 1px #dae0e1;
}

.service h3 {
    text-transform: uppercase;

    color: #ef9d38;
    letter-spacing: 1px;
}

.service-img {
    width: 150px;


}